
 <html>
    <head>
        <title>About Us Section</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
        
    </head>	
    <body>
        <div class="section">
            <div class="container">
                <div class="content-section">

                    <div class="title">
                        <h1>About Us</h1>
                    </div>
                    <div class="content">
                        <h3></h3>
                        <p>Our mission is to help you monitor the progrss of your goals
                        till completion.With us saving is in deed made easy.
                        </p>
                        
                    </div>
                    <div class="social">
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                    </div>
                    
                </div>
                <div class="image-section">
                    <img src="../../assets/team2.jpg">
                </div>
            </div>
        </div>
          
        
    </body>
    </html> -->

    <div class="container">
        <div class="section-title">
            <h1>Our Team Page</h1>
        </div>
       
        <div class="row">
       
       
            <div class="column">
                <div class="team">
                    <div class="team-img">
                        <img src="../../assets/Andrew.jpg" alt="Team Image">
                    </div>
                    <div class="team-content">
                        <h2>Andrew</h2>
                        <h3>Developer</h3>
                        <p>People who follow a set scheduled action in commitment to the goal are 76% more likely to achieve their goals
                        </p>
                        <h4>asmith@xpanxion.com</h4>
                    </div>
                    <div class="team-social">
                        <a href="#" class="social-tw"> <i class="fab fa-twitter"></i></a>
                        <a href="#" class="social-fb"> <i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="social-li"> <i class="fab fa-linkedin-in"></i></a>
                        <a href="#" class="social-in"> <i class="fab fa-instagram"></i></a>
                        <a href="#" class="social-yt"> <i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
       
            <div class="column">
                <div class="team">
                    <div class="team-img">
                        <img src="../../assets/chi.jpg" alt="Team Image">
                    </div>
                    <div class="team-content">
                        <h2>Chi</h2>
                        <h3>Developer</h3>
                        <p>Life is fine and enjoyable, yet you must learn to enjoy your fine life.
                            There's only one corner of the universe you can be sure of improving, and that's your own self.
                        </p>
                        <h4>chisio@xpanxion.com
                        </h4>
                    </div>
                    <div class="team-social">
                        <a href="#" class="social-tw"> <i class="fab fa-twitter"></i></a>
                        <a href="#" class="social-fb"> <i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="social-li"> <i class="fab fa-linkedin-in"></i></a>
                        <a href="#" class="social-in"> <i class="fab fa-instagram"></i></a>
                        <a href="#" class="social-yt"> <i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
       
            <div class="column">
                <div class="team">
                    <div class="team-img">
                        <img src="../../assets/meet the team.jpg" alt="Team Image">
                    </div>
                    <div class="team-content">
                        <h2>Nadia</h2>
                        <h3>Developer</h3>
                        <p>Elephants are the only animals that can't jump</p>
                        <h4>nadiacaspa@gmail.com</h4>
                    </div>
                    <div class="team-social">
                        <a href="#" class="social-tw"> <i class="fab fa-twitter"></i></a>
                        <a href="#" class="social-fb"> <i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="social-li"> <i class="fab fa-linkedin-in"></i></a>
                        <a href="#" class="social-in"> <i class="fab fa-instagram"></i></a>
                        <a href="#" class="social-yt"> <i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
       
            
       
        </div>
       
      </div>
      