.navbar-light .navbar-nav .nav-link
{   
    
    color: white;
}
.navbar-light .navbar-nav .nav-link.active-link
{
    color: white;
    
    
}
nav{
    position: fixed;
    top: 0px;
}
a{
    color: white;
}
a:hover 
{ color: #f7ee9c;
}

.image{
    height: 70px;
}
