<div class="container">

  <div class="card">

    <div class="card-header">

      <img src="https://c0.wallpaperflare.com/preview/483/210/436/car-green-4x4-jeep.jpg" alt="rover" />

    </div>

    <div class="card-body">

      <span class="tag tag-teal">Goal Name</span>

      <h4>

        {{goal.name}}

      </h4>

      <p>

        This goal number is {{goal.id}}

      </p>

      <h4>

        Goal Total: ${{goal.goalTotal}}

      </h4>

      <h4>

        Monthly Saving: ${{goal.monthlyPayment}}

      </h4>

      <div class="user">

        <img src="https://static.vecteezy.com/system/resources/previews/007/714/848/original/software-developer-flat-multicolor-icon-vector.jpg" alt="user" />

        <div class="user-info">

          <h5>{{user_session.username}}</h5>

          <small>1min ago</small>

        </div>

      </div>

    </div>
  </div>

  <div class="chartjs-block">

    <div class="chart-wrapper">

     

  </div>

</div>

<div class="chart-wrapper">

  <apx-chart *ngIf="pieChartData" class="chart" [series]="pieChartData" [chart]="chartDetails" [labels]="chartLabels" [title]="chartTitle" [dataLabels]="chartDataLabels"></apx-chart>

</div>

  </div>
  
  
    
  








       

