<div class="over">
  <div class="card-box pd-20 height-100-p mb-30">
    <div class="row align-items-center">
      <div class="col-md-4">
        <img src="https://deskapp-dashboard.herokuapp.com/vendors/images/banner-img.png" alt="">
      </div>
      <div class="col-md-8">
        <h4 class="font-20 weight-500 mb-10 text-capitalize">
          Welcome back, <div class="weight-600 font-30 text-blue"></div>
        
        <div class="weight-600 font-30 text-blue">{{user_session.firstName}}</div>
        </h4>
        
        <p class="font-18 max-width-600">At EveryDollar, Inc. our mission is to collaborate with our clients to make smart financial choices through uncompromising integrity, trust, and personalized service..</p>
      </div>
    </div>
  </div>
  <div class="body">
    <div class="container">
      <div class="card" *ngFor="let goal of goalList">
        <div class="imgBx">
          <img src="{{goal.image}}">
        </div>
        <div class="contentBx">
          <h2>{{goal.name}}</h2>
          <div class="size">
            <h2>Goal Amount: ${{goal.goalTotal}}</h2>
          </div>
          <a (click)="detailsGoal(goal.id)">View Details</a>
        </div>
      </div>
    </div>
    
  </div>
  
</div>





