.banner{
    background-image:url('../../assets/img/bannerimg.jpg') ;
    height: 500px;
    background-position: center;
    background-size: cover;
}

.content{
    top: 30%;
    left: 20%;
    position: absolute;
}

.banner h1{
    color: grey;
    font-size: 60px;
    font-weight: bold;
    
   

}
.stepBox h1{
    font-size: 50px;
    font-weight:bold;
   
    background-color: green;

    
   
}
.stepBox{
    color: green;
    text-align: center;
    padding: 20px 20px;
    border-radius:5px ;
    background-color: green;
    font-size: 30px;
    font-weight:bold;

}
.stepBox p{
    color: #fff;
    font-style: italic;

}
.heightlight{
    color: var(--primary-color);
     font-weight: bold;
     text-decoration: underline;
}
.navbar-light .navbar-nav .nav-link
{
    color: var(--secondary-color);
}
.navbar-light .navbar-nav .nav-link.active-link
{
    color: var(--primary-color);
    text-decoration: underline;
}
nav{
    position: fixed;
    top: 0px;
}