
<div class="banner">
    <div class="content">

    </div>
    <h1></h1>
</div>


<!-- step  -->
<div class="step"></div>
<div class="container mt-5 mb-5">
    <h1 class="text-center">Savings made<span class="highlight" > easy</span></h1>
    <div class="row ">
        <!-- one  -->
       <div class="col-lg-4 mt-2 ">
            <div class="stepBox">      
                <h1>1</h1>   
                <p>Save with us</p> 
                
        
        </div>
   
<!-- two -->
        <div class="col-lg-4 mt-2 ">
            <div class="stepBox">
                <h1>2</h1>
                <p>what we offer</p>
            </div>
        </div>
        <!-- three  -->
        <div class="col-lg-4 mt-2 ">
            <div class="stepBox">
                <h1>3</h1>
                <p>programs</p>
            </div>
        </div>
    </div>
</div> 

