<div class="col-md-6 offset-md-3">
    <h3>Create Goal</h3>
    <form #addGoalForm="ngForm" (ngSubmit) = "onSubmit()">
        <div class="form-group">
            <label for="name">Name :</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="goal.name" name="name"
            #name="ngModel" [class.is-invalid]="name.invalid && name.touched" required>
            <small class="text-danger" [class.d-none]="name.valid || name.untouched">name is required field</small>
        </div>
        <br>       
        <button class="btn btn-success" [disabled]="addGoalForm.form.invalid" type="submit">Add Goal</button>
    </form>



    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js">
       <div id="piechart" style="width: 900px; height: 500px;"></div>

       google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Work',     1],
          ['Eat',      2],
          ['Commute',  2],
          ['Watch TV', 2],
          ['Sleep',    17]
        ]);

        var options = {
          title: 'My Daily Activities'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>
</div>