
.sidebar{
    background: linear-gradient(120deg, #024136, #8df5e4);
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

  }
  
  li {
    float: left;
    border-right:1px solid rgb(0, 0, 0);
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(255, 252, 252);
  }
  
  
  .active {
    background-color: #f00202;
  }

  .container{
    width: auto;
  }
  .test{
    background-color: white;
  }

  
  
