.banner{
    background-image:url('../../assets/img/image.jpg') ;
    height: 610px;
    background-position: center;
    background-size: cover;
}

.content{
    top: 30%;
    left: 20%;
    position: absolute;
}

.banner h1{
    color: grey;
    font-size: 60px;
    font-weight: bold;
    
   

}
.stepBox h1{
    font-size: 50px;
    font-weight:bold;
   color: white;
    background-color: rgb(#00683e);

    
   
}
.stepBox{
    color: #00683e;
    text-align: center;
    padding: 20px 20px;
    border-radius:5px ;
    background-color: #00683e;
    font-size: 30px;
    font-weight:bold;

}
.stepBox p{
    color: #fff;
    font-style: italic;

}
.highlight{
    color:#00683e;
     font-weight: bold;
     
}
