.right-button{
    background-color: transparent;
    
}
.main-container{
    background-color: #e9f7e9;
    border-style: solid;
    border-color: black;
    border-radius: 5%;
    
}
.welcome-banner{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.form-control{
    background-color: transparent;
}

.background {    
	content: "";
	background: url('../../assets/img/log_in6.jpg') no-repeat center;
	background-size: cover;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	opacity: 1;
}



